.about__icon h6 {
  font-weight: 600 !important;
}

.about__icon i {
  color: var(--orange);
  margin-bottom: 10px;
}

.about__img {
  padding: 12px;
  background: var(--lightGrey);
  margin-top: 10px;
  border-radius: 10px 1px 10px 1px;
  transition: .3s ease-in-out;
}

.about__img img {
  /* width: 100% !important; */
  border-radius: 10px;
}

.about__img:hover {
  background: var(--orange);
  margin-top: 20px;
  cursor: pointer;
}

.about__img__box {
  display: flex;
  justify-content: center;
  /* margin-right: 50px; */
  width: 300px !important;
}

@media only screen and (max-width: 992px) {
  .about__img__box__gallery {
    justify-content: center !important;
    margin-top: 50px;
  }

  .about__content h3 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .about__img__box__gallery {
    justify-content: center !important;
    margin-top: 50px;
  }
  .about__img__box {
    /* margin-left: 12px; */
    width: 150px;
  }
}

@media only screen and (max-width: 576px) {
  .about__img__box__gallery {
    justify-content: center !important;
    margin-top: 50px;
  }
}
