.tab__btn__active {
  color: #01d293 !important;
}

@media screen and (max-width: 768px) {
  .tab__btns {
    text-align: left !important;
    margin-top: -20px !important;
    margin-bottom: 30px;
  }

  .cards {
    display: flex;
    justify-content: center !important;
    margin: 0 auto;
  }
}
