.services__content {
  margin-top: 20px;
}

.services__container {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.services__title {
  margin-top: -20px;
}

.icons_container {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
  margin: 0 auto;
  margin-top: 40px;
  padding: 30px;
  width: 550px;
  background: var(--lightGrey);
  border-radius: 3px 3px 50px 3px;
}

.skills_icon{
  border-radius: 3px;
  color: var(--orange);
  background: transparent;
  transition: .3s ease-in-out;
}

.skills_icon:hover {
  cursor: pointer;
  transform: translateY(-7px);
  color: var(--lightOrange);
}

@media only screen and (max-width: 992px) {
  .services__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: unset; */
  }

  .services__title h3 {
    font-size: 1.3rem;
  }

  .services__title {
    margin-top: 20px;
  }

  .icons_container {
    width: 480px;
    padding: 25px;
  }

}
